<body style="background-color:#C5BE3B;">
<div class="signup-form" >
	<div class="avatar1">
      <img src="<%= asset_path( 'Twitter-Down-Bird.png' ) %>">
    </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => {:id => 'log_up'}) do |f| %>    
    <table>      
      <tr> 
        <td>
          <span class="icon">
            <i class="glyphicon1 glyphicon-user"></i>
          </span>
        </td>
        <td>
          <%= f.text_field :firstname,:class=>"input-signup",:placeholder=>"Firstname",autofocus: true %>
        </td>
        <td>     
          <%= f.text_field :lastname,:class=>"input-signup",:placeholder=>"Lastname", autofocus: true %>
        </td>
      </tr>
      <tr>
        <td>      
          <span class="icon">
            <i class="glyphicon1 glyphicon-envelope"></i>
          </span>
        </td>
        <td>
          <%= f.email_field :email,:class=>"input-signup",:placeholder=>"Email",:id=>"account", autofocus: true %>
        </td>
      </tr>
      <tr>
        <td>      
          <span class="icon">
            <i class="glyphicon1 glyphicon-phone"></i>
          </span>
        </td>
        <td>
          <%= f.text_field :mobile_no,:class=>"input-signup",:placeholder=>"MobileNo",:id=>"account", autofocus: true %>
        </td>
      </tr>
      <tr>
        <td>      
          <span class="icon">
            <i class="glyphicon1 glyphicon-home"></i>
          </span>
        </td>
        <td>
          <%= f.text_area :address_1,:class=>"input-signup",:placeholder=>"Address",:id=>"address", autofocus: true %>
        </td>
      </tr>
    </table>
      
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        <% end %>
      
    <div id="actions">
      <%= f.submit "Sign up" ,:class=>"signup-button"%>
    </div>
  <% end %>
</div>
<center>
	<div >Already Registered? <a href="/users/sign_in">Login here</a></div>
</center>
</body>