<div class="logincontainer">
  <div class="row centered-form">
    <div class="col-md-6 col-md-offset-3"> 
      <div class="panel panel-info" style="height: 70%;">
        <div class='container-heading'>
          <div class='img-forget'>
		    <%= link_to (image_tag "download.jpeg")%>
		  </div>
		  <div class="password">
           <h3>Forgot your password?</h3>
		      <p>
		        You can reset your password here.
		      </p>
    	  </div>
        </div>
        <%= form_for(resource, :as => resource_name, :url=> password_path(resource_name), :html=> {:id=>'forget-pass', :method=> :post }) do |f| %>
    	<%= devise_error_messages! %>
          <table summary=" User form fields" style="margin-left: 9%;">
            <tr>
              <td>
                 <div class="form-group1 top">
                   <span class="input-group-addon-edit">
                    <i class="glyphicon glyphicon-envelope"></i>
                   </span>
                   <div class="input-group-forget">            
                    <%= f.email_field :email, :class=>"form-control input-xs  ",:placeholder=>"Email address",:style=>"width: 100%",autofocus: true %>
                   </div>
                 </div>
              </td>
            </tr>       
          </table>
          <div class="actions">
            <%= f.submit "Send me reset password instructions",:class=>"customer-edit-button", :style=>"margin-top: 5%" %>
          </div> 
          <div class="login">
       <a href="/users/sign_in" class="forget-password-button pass-chng-sign">Sign In</a>
       <a href="/users/sign_up" class="forget-password-button pass-chng-reg">Register</a>
    </div> 
        <% end %>
      </div>
    </div>
  </div>
</div>