<div>
	<% if user_signed_in? %>
		<div class="row header-nav">      
			<div class="row col-md-4 col-xs-4" style="margin-left: 1%;">
				<img alt="BVC logo" src="/assets/logo.png"/ class="pull-left header-image" id="imaze" >   	 
				<% if !current_user.company_name.blank?%>
					<div class="compname" >
						<%= (current_user.company_name).camelcase %>
					</div> 
				<%end%>   
			</div>  
			<div class="dropdown pull-right" id="wrapper">   	
				<% if !current_user.code_name.blank? %>
					<div class="compcode">
						<%= (current_user.code_name).camelcase %>
					</div>
					<button class="btn dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" id="button1"></button>
				<% else %> 	  	
					<button class="btn dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" id="buton1"></button>
				<% end %>
				<ul class="dropdown-menu" id="panel">
					<center style="margin-top: 15px;">
					Welcome <strong> <%= current_user.firstname %></strong>
					</center>
					<hr/>
					<% if current_user.configuration_status != false %>
						<li>
						  <%= link_to ' Dashboard', dashboard_path, :class => 'navbar-link glyphicon glyphicon-home' %>
						</li>
					<% end %>
					<li>
					  <%= link_to ' Edit profile', edit_user_registration_path(:id=>current_user.id),:class => 'navbar-link glyphicon glyphicon-edit' %>
					</li>
					<% if current_user.role != "super_admin" && current_user.is_admin == false %>
						<% if !current_user.customer_care_number.blank? && !current_user.customer_care_email.blank? %>
							<li>
							  <%= link_to ' Edit Customer Care Details', users_edit_customer_care_path(:id=>current_user.id),:class => 'navbar-link glyphicon glyphicon-edit' %>
							</li>
						<% end %>
					<% end %>
					<li>
					  <%= link_to " Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link glyphicon glyphicon-log-out' %>
					</li>
				</ul>        	      
			</div>		   	
		</div>
	<%end%>
	
<!-- .navbar.navbar-static-top + .navbar.navbar-static-top { margin-top: -20px; z-index: auto; } -->

	<div class="navbar navbar-static-top" style="margin-top:0; z-index: auto; ">
		<% if user_signed_in? %>
			<button type="button" style="background: white;" class="pull-right navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="nav_responsive">
			<span style="background: brown;" class="sr-only">Toggle navigation</span>
			<span style="background: brown;" class="icon-bar"></span>
			<span style="background: brown;" class="icon-bar"></span>
			<span style="background: brown;" class="icon-bar"></span>
			</button>
			<% if current_user.role != "super_admin" && current_user.is_admin != true %>
				<% if current_user.configuration_status != false %>					
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right" >
							<li>
				                <%= link_to "Configuration" ,"#", :class => 'config-link', :id => 'heading' %>
				            </li>
				            <li>
				                <%= link_to("Dashboard" ,dashboard_path, :id => 'heading') %>
				            </li>
				            <li>
				                <%= link_to("Tickets List" , tickets_path, :id => 'heading') %>
				            </li>
				            <li>
				                <%= link_to("Plans" , plans_path, :id => 'heading') %>
				            </li>
				            <li>
				                <%= link_to("Graphs" , graph_path, :id => 'heading') %>
				            </li>
				            <li>
				            	<%= link_to("Payment" ,payment_path, :id => 'heading') %>
				            </li>
						</ul>
					</div>
				<% else %>					
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li>
				            	<%= link_to "Configuration" ,"#", :id => 'heading'%>
				            </li>                
				            <li>
				            	<%= link_to "Dashboard" , dashboard_path, :class => 'config-link', :id => 'heading' %>
				            </li>
				            <li>
				            	<%= link_to "Tickets List" , tickets_path,:class => 'config-link', :id => 'heading' %>
				            </li>
				            <li>
				            	<%= link_to "Plans" , plans_path , :class => 'config-link', :id => 'heading'  %>
				            </li>
				            <li>
				            	<%= link_to "Graphs" , graph_path,  :class => 'config-link', :id => 'heading' %>
				            </li>
				            <li>
				            	<%= link_to "Payment" , payment_path, :class => 'config-link', :id => 'heading' %>
				            </li>
						</ul>
					</div>
				<% end %>
			<% else %>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="list">
				        	<%= link_to "Users" ,users_path , :id => 'heading'%>
				        </li>                
				        <li>
				        	<%= link_to "Dashboard" , dashboard_path, :id => 'heading'%>
				        </li>
				        <li>
				        	<%= link_to "Tickets List" , tickets_path, :id => 'heading'%>
				        </li>
				        <li>
				        	<%= link_to "Plans" , plans_path, :id => 'heading'%>
				        </li>
				        <li>
				        	<%= link_to "Graphs" , graph_path, :id => 'heading' %>
				        </li>
				        <li>
				        	<%= link_to "Payment" , payment_path, :id => 'heading' %>
				        </li>
					</ul>
				</div>
			<% end %>
		<% end %>
	</div>
</div>