<div class="row">
	<div class="col-md-3">
	    <%= f.label  :complainant_name %>
	 </div>
	 <div class="col-md-3">
	    <%= f.text_field :participant_name,:class=>"form-control input-md-ticket " %>
    </div>
	<div class="col-md-3">
	    <%= f.label :complainant_mobile_no %>
	</div>
	<div class="col-md-3">
	    <%= f.text_field :participant_mobile_no,:class=>"form-control input-md-ticket " %>
    </div>
</div>
<div class="row">
	<div class="col-md-3">
	    <%= f.label :complainant_email %>
	</div>
	<div class="col-md-3">
	    <%= f.text_field :participant_email,:class=>"form-control input-md-ticket " %>
    </div>
    <div class="col-md-3">
	    <%= f.label :category %>
	</div>
	<div class="col-md-3">
	    <%= f.text_field :category,:class=>"form-control input-md-ticket " %>
    </div>
</div>
<div class="row">
	<div class="col-md-3">
	    <%= f.label :description %>
	</div>
	<div class="col-md-3">
	    <%= f.text_area :description, :cols => "19", :rows => "5",:class=>"form-control input-md-ticket " %>
    </div>
	<div class="col-md-3">
	    <%= f.label :remark %>
	</div>
	<div class="col-md-3">
	    <%= f.text_area :remark, :cols => "19", :rows => "5",:class=>"form-control input-md-ticket " %>
  	</div>
</div>
<div class="row">	
	<div class="col-md-3">
		  <%= f.label :forwarded_to %>
	</div>
	<div class="col-md-3">
	      <%= f.text_field :forwarded_to,:class=>"form-control input-md-ticket " %>
    </div>
    <div class="col-md-3" style="margin-top: 2%">
	    <%= f.label :priority %>
	</div>
	<div class="col-md-3" style="margin-top: 2%">
	    <%= f.collection_select :priority,Ticket.priorities,:to_s, :to_s, include_blank: false%>
    </div>
</div>