<div class="container">
        <div class="row centered-form">
          <div class="col-md-8 col-md-offset-2">  
        
          <div class="panel panel-default">
            <div class="panel-heading">
            <h1>Update Your Ticket </h1>
        </div>
        <div class="panel-body">
        <%= form_for @ticket do|f| %>
          <b>
            Reference No: &nbsp;&nbsp;<%=@ticket.id%> 
          </b>
     
          <table summary="Update Ticket form fields">
            <%= render(:partial => "form",:locals=> {:f =>f}) %>
            <div class="row">
				<div class="col-md-3">
				    <%= f.label :resolution_period %>
				</div>
				<div class="col-md-3">
				    <%= f.text_field :resolution_period,:class=>"form-control input-md-ticket " %>
			    </div>
			    <div class="col-md-3">
				    <%= f.label :status %>
				</div>
				<div class="col-md-3">
				    <%= f.select :status, [['new','New'],['processing','Processing'],['resolved','Resolved']],:class=>"form-control input-md-ticket " %>
			    </div>
			</div>
            
          </table>
          </br>
          <%= f.submit "Update Ticket", :class => "btn btn-primary" %>
          <%= link_to "Cancel Request", tickets_path, :class => "btn btn-danger"%>
        <% end %>
      </div>
    </div>
  </body>
</html>

</div>
</div>
</div>
</div>
</div>