<html>
	<body>
		<div class="row">	
			<div class="col-lg-12 arrows">			    
			    <%= form_tag tickets_path, :method => 'get', :id => "tickets_search" do %>			    
			    	<%= link_to "Add New Complaint", new_ticket_path, class: 'btn btn-primary pull-left' %>			
			        <div class="pull-right">
			        	<%= text_field_tag :search, params[:search],:placeholder=>" CRN/Customer Name" %>			
			        	<span style="color:blue;"> <%= submit_tag "Search", :participant_name => nil %> </span>			
			        </div> 			
			       <div id="tickets">
			       	<%= render 'tickets',:locals=>{"@tickets"=>@tickets} %>
			       </div>			
			    <% end %>			
			</div>		
		</div>
	</body>
</html>