<body style="background-color:#C5BE3B;">
<div class="row vdivide">
<div class="col-md-6">
  <div class="wrap">
    <div class="avatar">
      <img src="<%= asset_path( 'signin.png' ) %>">
    </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:id=> 'log_in'}) do |f| %>
    <%= f.email_field :email,:placeholder=>"email",:class=>"input-md",autofocus: true %>
    <%= f.password_field :password,:placeholder=>"password",:class=>"input-md", autocomplete: "off" %>
    <div class="remember">
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me,{:style=>"width:20px; height:20px;",checked: true}%>
        <%= f.label :remember_me, :style=>"font-size:15px;" %>
      <% end %>
    </div>
    <%= f.submit "Log in",:class=>"signin-button"%>
  <% end %>
  <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <center><%= link_to "Forgot your password?", new_password_path(resource_name) %></center>
  <% end %>
  <center><%= link_to "Don't have an account?", new_user_registration_path %></center>  
  </div>
</div>
<div class="col-md-5 col-xs-12">
	<ul class="social">
		<li class="facebook"><a href="/users/auth/facebook"><i class="fa fa-facebook fa-3x"></i></a></li>				
	</ul>
	<ul class="social1">
		<li class="gmail"><a href="/users/auth/google_oauth2"><i class="fa fa-google fa-3x"></i></a></li>
	</ul>
</div>
</div>
</body>

