%head
  %meta{:content => "http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html", :property => "og:url"}/
  %meta{:content => "article", :property => "og:type"}/
  %meta{:content => "When Great Minds Don’t Think Alike", :property => "og:title"}/
  %meta{:content => "How much does culture influence creative thinking?", :property => "og:description"}/
  %meta{:content => "http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg", :property => "og:image"}/
  %title Ticketing System  
  = stylesheet_link_tag "application", :media => "all"
  = javascript_include_tag 'application', 'data-turbolinks-track'=> true
  = csrf_meta_tags   
%body#admin_body
  .header
    = render "shared/messages"
  .container
    = yield
